.message {
    color: red;
}

.firstColumn {
    width: 5rem;
}
.secondColumn {
    width: 15rem;
}
.thirdColumn { 
    width: 40rem;
}

.myButton {
    font-size: 120%;
    font-weight: bold;
    position:relative;
    left:15%;
}

.rowHeight {
    height: 3.5em;
}

/* The styles for the elements */
label {
    width: 8rem;
    text-align: right;
    float: left;
}

form {
    display: inline-block;
    text-align: left;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 2rem;
    width: 69rem;
}
h1 {
    font-size: 140%;
    color: teal;
    margin-bottom: .5rem;
}
label {
    float: left;
    width: 5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
input[type="text"], input[type="password"] {  /* An attribute selector */
    width: 20em;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}


